<header class="header">
  <div class="logo">
    My Post App
  </div>

  <div class="auth-section">
    <ng-container *ngIf="isAuthenticated$ | async">
      <span class="username">
        Hello {{ (user$ | async)?.name }}
      </span>
      <button (click)="logout()">Logout</button>
    </ng-container>

    <ng-container *ngIf="!(isAuthenticated$ | async)">
      <button routerLink="/login">Login</button>
      <button routerLink="/register">Register</button>
    </ng-container>
  </div>
</header>